@font-face {
    font-family: "Open Sans";
    src: url("mq-diploma-master/sources/fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("mq-diploma-master/sources/fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_container {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    width: 1920px;
    min-height: 960px;
    background-image: url("mq-diploma-master/sources/img/football_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
}

.header::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.container {
    position: relative;
    z-index: 1;
    width: 1560px;
    margin: 0 auto;
    padding: 0px;
}

.header_logo {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
}

.main_title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.96px;
    line-height: 100px;
}

.first_row {
    display: inline-block;
    width: 690px;
    margin: 0px;
    margin-top: 295px;
}

.second_row {
    display: inline-block;
    width: 1100px;
    margin-left: 455px;
}

.download_links {
    display: flex;
    justify-content: center;
    margin-top: 222px;
}

.download_button {
    display: flex;
    vertical-align: middle;
    width: 311px;
    height: 77px;
    border: none;
    background-color: #5e42b0;
    border-radius: 50px;
}

.download_button:nth-child(n+2) {
    margin-left: 50px;
}

.download_icon {
    display: flex;
    margin: 0px 25px 0px 30px;
}

.apple_icon,
.google_icon {
    width: 42px;
    height: 48px;
}

.apple_download,
.google_download {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-self: center;
}

.apple_line1,
.google_line1 {
    min-width: 147px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: left;
}

.apple_line2,
.google_line2 {
    min-width: 105px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: left;
}

.content {
    width: 1920px;
    margin: 0 auto;
}

.athlets_news {
    box-sizing: border-box;
    position: relative;
}

.athlets {
    color: #e7e7e7;
    margin: 115px 0px 48px 0px;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    padding-left: 1010px;
}

.athlets_section {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.athlets_title_connection {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.athlets_title_connection::before {
    content: "01";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.athlets_title_collaboration {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.athlets_title_collaboration::before {
    content: "02";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.athlets_title_growth {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.athlets_title_growth::before {
    content: "03";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.description {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.item_connection {
    background-color: #ffffff;
}

.item_collaboration {
    background-color: #f6f4fa;
}

.item_growth {
    background-color: #5e42b0;
}

.description_growth {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.item_athlets {
    padding: 60px 180px 55px 1010px;
}

.football {
    position: absolute;
    left: 350px;
    top: -100px;
}

.athlets_border_connection {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    position: absolute;
    right: 889px;
    top: 140px;
}

.athlets_border_collaboration {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    position: absolute;
    right: 889px;
    top: 352px;
}

.athlets_border_growth {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
    position: absolute;
    top: 617px;
}

.players_news {
    box-sizing: border-box;
    position: relative;
}

.item_players {
    padding: 60px 980px 55px 190px;
}

.players {
    color: #e7e7e7;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 0px;
    text-transform: uppercase;
    margin: 115px 0px 48px 0px;
    padding-left: 190px;
}

.players_title_connection {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.players_title_connection::before {
    content: "01";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.players_title_collaboration {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.players_title_collaboration::before {
    content: "02";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.players_title_growth {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.players_title_growth::before {
    content: "03";
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin-right: 8px;
}

.players_title_growth_dark {
    display: flex;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0px 0px 20px 0px;
}

.players_title_growth_dark::before {
    content: "03";
    color: #9173e6;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding-top: 7px;
    margin: 0px 8px 0px 0px;
}

.players_border_connection {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    position: absolute;
    left: 190px;
    top: 140px;
}

.players_border_collaboration {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    position: absolute;
    left: 190px;
    top: 379px;
}

.players_border_growth {
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
    position: absolute;
    top: 590px;
}

.item_growth_dark {
    background-color: #0a0e34;
}

.basketball {
    position: absolute;
    right: 115px;
    top: -120px;
}

.card {
    display: flex;
    position: relative;
}

.card_description {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 260px 15px 0px 15px;
    margin-left: 114px;
    background-color: #ffffff;
}

.card_title {
    margin: 0px;
    opacity: 0.4;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}

.card_text {
    width: 645px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.2px;
    padding-top: 115px;
}

.number_box {
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    position: absolute;
    left: 876px;
    top: 211px;
}

.number {
    color: #f5f6f7;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: absolute;
    left: 946px;
    top: 265px;
}

.number::after {
    content: "";
    width: 24px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
    position: absolute;
    top: 35px;
    left: 1px;
}

.footer {
    width: 1920px;
    min-height: 960px;
    background-image: url("mq-diploma-master/sources/img/game_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 230px;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.footer_main {
    display: flex;
    justify-content: center;
}

.footer_title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.41px;
    height: 60px;
    margin: 0px 0px 30px 0px;
}

.footer_subtitle {
    color: #a496ca;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_text {
    margin-left: 37px;
}

.footer_logo {
    width: 191px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
}